body {
  min-width: 350px;
}
/*
Changing the header to my more favorite color: burgendy.
*/
header {
  background-color: #800020;
  padding: 0 10%;
}

header h1 {
  color: white;
  padding: 60px 0 20px 0px;
  margin: 0;
}

main {
  padding: 20px 10%;
}

nav {
  text-align: right;
}

footer {
  background-color: darkgray;
  margin: 140px 0 0 0;
  padding: 10px 10%;
}

em {
  font-style: normal;
  font-weight: bold;
}

main em {
  display: block;
  text-align: right;
}
.imageContainer {
  float: center;
  width: 420px;
}
img {
  height: 100px;
}
li {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #51473b;
}
/**/
a:link{
  color:  #FF0000;
}
/**/
a:visited {
  color:  #FF0000;
}
/**/
a:hover {
  color: #FF00FF;
}
/**/
a:active{
  color: #0000FF;
}
